/**
*	This is a theme for Glasscord
*	https://github.com/AryToNeX/Glasscord
*
*	This has only been tested with Enhanced Discord on Linux
*	https://github.com/joe27g/EnhancedDiscord
*
*	Enable Nightmode for theme
*
*
*	@name Kaydax's Theme
*	@author Kaydax
*	@description Kaydax's Theme
*/

:root{
	/* Here you can define properties for use with Glasscord. */

	/* Windows-specific properties */
	/* Blur mode. Available types: acrylic (strong blur), blurbehind (light blur), transparent */
	--glasscord-win-blur: blurbehind;
	/* Acrylic mode makes some computers pretty unresponsive when resizing/moving the window.
	   Should we work around it? */
	--glasscord-win-performance-mode: true;

	/* macOS-specific properties */
	/* Vibrancy mode */
	--glasscord-macos-vibrancy: fullscreen-ui;

	/* Linux-specific properties */
	/* Should Glasscord send a request to your window compositor to blur behind Discord's window? */
	/* It currently supports KWin only */
	--glasscord-linux-blur: false;

	/* Discord-specific properties */
	/* Custom (forced) titlebar */
	/* native (default), windows, osx, linux (framed) */
	--glasscord-titlebar: native;
}


.markup-2BOw-j {
    font-size: 1rem;
    line-height: 1.375;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: var(--text-normal);
    font-weight: 100;
}

.theme-dark {
    --background-primary: transparent;
    --background-secondary: rgba(0,0,0,0.25);
    --background-tertiary: rgba(0,0,0,0.45);
}

.appMount-3lHmkl, body, html {
    background: url("https://drive.google.com/uc?authuser=0&id=11PO4MwA1qT4p5Sxr2gbVpFpSS-Xt5bnB&export=download");
    background-size: 700px;
    background-repeat: repeat;
}

.theme-dark #MemberCount {
    background: #00000000;
}

.panels-j1Uci_ {
    background: #00000000;
}

#MemberCount {
    background: #00000000;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: #00000000;
    border: 4px solid #00000000;
}