/**
*	@name Status Indicator Replacement
*	@author Kaydax
*	@description Replaces status indicators with old style indicators
*/


/* Replace Status Indicators Using Pure CSS */
[mask="url(#svg-mask-status-idle)"],
[mask="url(#svg-mask-status-dnd)"],
[mask="url(#svg-mask-status-streaming)"],
[mask="url(#svg-mask-status-offline)"] {
    mask: url(#svg-mask-status-online);
}
.mask-1l8v16 foreignObject + svg rect[width="25"] {
    height: 10px;
    width: 10px;
    transform: translate(7.5px, 5px);
    mask: url(#svg-mask-status-online);
}
[mask="url(#svg-mask-status-online)"],
[mask="url(#svg-mask-status-online-mobile)"] {
    fill: #43b581;
}
[mask="url(#svg-mask-status-idle)"] {
    fill: #faa61a;
}
[mask="url(#svg-mask-status-dnd)"] {
    fill: #f04747;
}
[mask="url(#svg-mask-status-streaming)"] {
    fill: #593695;
}
[mask="url(#svg-mask-status-offline)"]  {
    fill: #747f8d;
}